.grid {
  list-style: none;
  display: grid;
  gap: clamp(16px, 2vw, 24px);
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .cols3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
