.bar {
  display: grid;
  gap: 0 32px;
  margin: 0;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .bar {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .bar {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
